# Linear Regression to predict student percentage based on number of study hours
With the help of this simple regression model, we will predict the percentage of marks that a student is expected to score depending upon the number of hours of study.

## Imports

In [1]:
#importing relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

 Reading the data as a dataframe

In [2]:
url="http://bit.ly/w-data"
raw_data=pd.read_csv(url)

In [3]:
raw_data.head(10)

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20
6    9.2      88
7    5.5      60
8    8.3      81
9    2.7      25

In [4]:
raw_data.tail(10)

    Hours  Scores
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [5]:
raw_data.columns

Index(['Hours', 'Scores'], dtype='object')

In [6]:
raw_data.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [7]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 528.0 bytes

In [8]:
#checking the presence of null values
raw_data.isnull().values.any()

False

## Creating input and output variables

In [9]:
X = raw_data.iloc[:, :-1].values  
y = raw_data.iloc[:, 1].values

##Training and testing data

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

## Training model

In [11]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression() #regressor is an instance of LinearRegression() model

In [12]:
#training model
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Retrieving the intercept

In [13]:
print(regressor.intercept_)

2.018160041434662

Retrieving the coefficient

In [14]:
print(regressor.coef_)

[9.91065648]

# Predicting  test data

In [15]:
y_pred = regressor.predict(X_test)

Comparing Actual vs Predicted output

In [16]:
df = pd.DataFrame({'Actual Score': y_test, 'Predicted score': y_pred})  
df

   Actual Score  Predicted score
0            20        16.884145
1            27        33.732261
2            69        75.357018
3            30        26.794801
4            62        60.491033

# Evaluating the model

In [17]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred)) 
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 4.183859899002982
Mean Squared Error: 21.598769307217456
Root Mean Squared Error: 4.647447612100373